<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <button type="submit">Login</button>
</form>

<!-- Display error messages -->
<div th:if="${param.error}">
    <p style="color: red;">Invalid username or password</p>
</div>

<!-- Display logout success message -->
<div th:if="${param.logout}">
    <p style="color: green;">You have been logged out successfully</p>
</div>
</body>
</html>